/*----------------------------------------------*\
    #GLOBAL
\*----------------------------------------------*/
/********************  
#DEFININGS
********************/

@import 'definings';





/********************  
#GENERIC
********************/

/* Flexible viewport fix for IE10 */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

* { box-sizing: border-box; }

body {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    background-color: $bg-color;
}

/*** Images ***/

img { max-width: 100%; }

/*** Lists ***/

ul { 
    padding-left: 0;
    list-style-type: none;
}

/*** Links ***/

a {
    text-decoration: none;
    font-weight: 700;
    color: $dark-red;
    border-bottom: 1px dotted $dark-red;
    &:hover { color: $dark-teal; }
}





/******************** 
#WRAPPERS
********************/

.container {
    width: 100%;
    max-width: 40.625em;
    margin: 0 auto;   
}

.card {
    background-color: white;
    margin: 1em;
    border: 1px solid gray;
    @include box-shadow(1px 1px 3px $shadow-color);
    p { padding: 0 0.313rem 0 0.313rem; }
} 





/********************  
#TRUMPS
********************/

.text-caps { text-transform: uppercase; }
.text-center { text-align: center; }
.text-bold { font-weight: 700; }

/* Removes space beneath card images */
.card-pic { display: block; }

/* Fixes lack of top margin on Projects section */
.no-heading { margin-top: 1.5em; }

.anchor {
    display: block;
    visibility: hidden;
    height: 1em;
    margin-top: -1em;
}

/* Float clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after { clear: both; }
.group { *zoom: 1; }





/*----------------------------------------------*\
    #BASE MOBILE-FIRST LAYOUT (320px)
\*----------------------------------------------*/

/******************** 
#HEADINGS
********************/

h1, h2, h3 { margin: 0; }

h1 {
    font-size: 2.2em;
    padding-top: .3em;
    padding-bottom: .3em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1rem;
    padding-left: 1rem;
}

h3 {
    font-size: 1.2em;
    letter-spacing: .01em;
    padding: 0.313rem;
}

h4 {
    margin: 0.313rem 0 -0.063rem 0;
    padding: 0.313rem 0 0.313rem 1.250rem;
    letter-spacing: .02em;
}

.section-header {
    font-family: $secondary-font;
    color: white;
    background-color: $dark-teal;
    padding-left: 1rem;
    margin-top: 1.5em;
}





/******************** 
#HEADER 
********************/

/* Clears overview section from header on site load */
.clear-header { margin-top: 7.25em; }

/* Clears content from header when using navigation */
.page-padding { padding-top: 7.7em; }

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    background-color: $main-red;
    padding: 1em 0 0 0;
    @include double-box-shadow(0 2px 5px 0 rgba(0, 0, 0, .3), 
    0 2px 10px 0 rgba(0, 0, 0, .2));
}

/*** Logo ***/

.logo {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 0;
    margin-left: 1em;
    a { 
        border-bottom: none;
        img { width: 50px; }
    }
}

/*** Navigation ***/

.main-nav {
    width: 111.641px;
    font-size: 1.1em;
    margin: 0 auto;
    padding: .5em 0 1em 0;
    text-align: center;
    li {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05em;
        padding-bottom: 8px;
        a {
            text-decoration: none;
            color: white;
            padding: .3em;
            border-bottom: none;
            &:active { color: $bright-teal; }
        }
    }
}

.mobi-nav {
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    i {
        border: none;
        color: white;
        cursor: pointer;
    }
}

.mobi-toggle { display: none; }





/******************** 
#OVERVIEW
********************/

.overview-card { 
    padding: 0.313rem; 
    h2 {
        font-size: 1.1em;
        margin-top: -1.5rem;
        padding-top: .1em;
        padding-bottom: .1em;
        padding-left: 2.188rem;
    }
    img { 
        margin-bottom: -0.188rem;
        width: 1.563em;
    }
}

/*** CTA ***/

.cta-card { 
    background-color: $main-red; 
    object[type="image/svg+xml"] {
        height: 2.5em;
        width: 2.5em;
        vertical-align: middle;
        display: inline-block;
    }
    p { 
        margin-left: 3.438em;
        margin-top: -2.625em;
        margin-bottom: 0;
        padding-top: .1em;
        padding: .2em 0 0 0;
    }
    a {
        color: white;
        border-bottom: 0;
        &:hover {
            color: $main-teal;
            cursor: pointer;
        }
    }
}





/******************** 
#ABOUT
********************/

.line-box {
    height:20px;
    width:100%;
    position:relative;
    top:65px;
    right: 1em;
    margin-left:0;
    .line {
        background-color: $dark-teal-faded;
        height:7px;
        width:91%;
        float: right;
    }
    .line-b { width: 87%; }
    .line-c { width: 87%; }
    .line-d { width: 87.6%; }
}

.line-box, .line { display: none; } 

/*** Bio ***/

.bio-card h3,
.tool-card h3 {
    color: white;
    background-color: $dark-teal;
}

.hobbies { 
    margin-bottom: 0; 
    li {
        border-top: 1px solid lightgray;
        padding: 0.313em 0 0.313em 0;
        img {
            margin-left: 0.313em;
            margin-right: 0.313em;
            margin-bottom: -0.250em;
        }
    }
}

/*** Skills ***/

.skill-card {
    img { padding-left: 1.250em; }
    h3 {
        margin-left: 4.688rem;
        margin-top: 0.625rem;
        margin-bottom: -1.875rem;
    }
    h4 {
        color: white;
        background-color: $main-red;
    }
    ul {
        margin: -1.375rem 0.938rem 0 0;
        float: right;
        li { display: inline-block; }
    }
    .skill-point-on {
        width: 0.938em;
        height: 0.938em;
        border-radius: 50%;
        background-color: $main-teal;
        margin-right: 0.313em;
    }

    .skill-point-off {
        width: 0.938em;
        height: 0.938em;
        border-radius: 50%;
        background-color: $bright-teal-faded;
        margin-right: 0.313em;
    }
}

/*** Tools ***/

.tool-card {
    ul {
        padding: 0 0.313em 0 0.313em;
        margin: 0;
        li {
            padding: 1em 0 1em 0;
            border-top: 1px solid lightgray;
            &:first-child { border-top: none; }
        }
    }
} 

/*** Work ***/

.work-card {
    border: 5px solid $main-red;
    padding: 0.625em;
    img { 
        float: left;
        margin-right: 0.625em;
        margin-top: 0.313em;
        width: 3.125em;
    }
    a { 
        border: none;
        text-transform: uppercase;
    }
}





/******************** 
#PROJECTS
********************/

.project-card {
    h3 {
        color: white;
        background-color: $main-red;
    }
    a { border-bottom: none; }
}

.full, .project-hover {
    opacity: 0;
    position: absolute;
    display: none;
}

.project-hover {
    background: $dark-teal-hidden;   
    width: 566px;
    height: 295.859px;
    transition: .3s ease-in, .5s ease-out;
    &:hover { 
        background-color: $dark-teal-overlay;
        .overlay { opacity: 1; }
    }
}

.overlay { 
    width: 177.859px;
    margin: 0 auto;
    margin-top: 125px;
    opacity: 0;
    transition: .3s ease-in, .5s ease-out;
    li {
        display: inline-block;
        padding: 1em;
        a:hover { color: white; }
    }
}

.skills-used { 
    margin: 0; 
    background-color: $main-red;
    li {
        display: inline-block;
        font-weight: 700;
        color: white;
        background-color: $dark-teal;
        padding: 0.313rem 0.625rem 0.313rem 0.625rem;
        margin: 0.625rem 0 0.625rem 0.625rem;
        border-radius: 10%;
        font-size: .8em;
        letter-spacing: .07em;
    }
}

ul {
    .code-repo {
        background-color: transparent;
        position: relative;
        i {
            position: absolute;
            top: -3px;
            color: white;
            &:hover { color: $dark-teal; }
        } 
    }  
}





/******************** 
#CONTACT
********************/

.contact-card {
    .contact-card-header {
        background-color: $main-red;
        padding-top: 1em;
        padding-bottom: 1em;
        + h2 { margin-top: 1em; }
    }
    h1, h2, h3, h4 {
        padding: 0;
        margin: 0;
    }
    h2 { font-size: 1.2em; }
    h3 {
        color: white;
        font-size: .8em;
        letter-spacing: .08em;
    }
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: .5em;
    }
    + img {
        display: block;
        margin: 0 auto;
        margin-top: -1em;
    }
    a { border-bottom: none; }
    hr { 
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .social-nav { 
        text-align: center; 
        li {
            display: inline-block;
            padding-left: 0.313em;
            padding-right: 0.313em;
        }
        a { 
            color: $dark-teal; 
            &:hover { color: $dark-red; }
        }
    }
}

.bcard-hand { padding-bottom: 3.4em; } 





/******************** 
#FOOTER 
********************/

footer {
    background-color: $main-red;
    position: relative;
    div {
        text-align: center;
        vertical-align: middle;
        background-color: $main-red;  
        width: 6.250em;
        height: 6.250em;
        padding-top: 0.625em;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        top: -2.188em;
        z-index: 1;
    }
    a {
        color: $bright-teal;
        border-bottom: none;
        display: block;
        &:hover { color: white; }
    }
    p {
        color: white;
        margin: 0;
        padding-bottom: 1em;
        margin-top: -3.750em;
        position: relative;
        z-index: 2;
        letter-spacing: .03em;
    }
    .skills-used {
        width: 295px;
        margin: 0 auto;
        padding-bottom: 1.5em;
        margin-top: 1em;
        li { 
            margin: 10px;
            &:last-child {
                background-color: transparent;
                margin: 0;
                margin-bottom: -23px;
                a {
                    background-color: transparent;
                    color: white;
                    position: relative;
                    &:hover { color: $dark-teal; }
                    i {
                        position: absolute;
                        bottom: 5px;
                    }
                }
            } 
        }
    }
}





/*----------------------------------------------*\
    #MEDIA-QUERIES RESPONSIVE LAYOUT
\*----------------------------------------------*/

@import 'responsive';